
@{
    ViewBag.Title = "CreateForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/Admin/scripts")

<h2>Create New Form</h2>
<hr />
    <div class="row">
        <div class="col-md-3 col-xs-12 formOptions">
            <ul>
                <li class="formOption" data-bind="click: AddHeader">Header/Label <span class="glyphicon glyphicon-text-width"></span></li>
                <li class="formOption" data-bind="click: AddTextField">Text <span class="glyphicon glyphicon-font"></span></li>
                <li class="formOption" data-bind="click: AddCheckBox">Checkbox <span class="glyphicon glyphicon-ok"></span></li>
                <li class="formOption" data-bind="click: AddDropdown">Dropdown <span class="glyphicon glyphicon-th-list"></span></li>
                <li class="formOption" data-bind="click: AddRadioGroup">Radio <span class="glyphicon glyphicon-option-vertical"></span></li>
                <li class="formOption" data-bind="click: AddDatePicker">DatePicker <span class="glyphicon glyphicon-calendar"></span></li>
                <li class="formOption" data-bind="click: AddTimePicker">TimePicker <span class="glyphicon glyphicon-time"></span></li>
            </ul>
            <div class="checkbox">
                <label for="optionToggle"><input type="checkbox" data-bind="checked: toggleFieldOptions" />Toggle Options View</label>
            </div>
        </div>
        <div class="col-md-8 col-xs-12">
            <div class="input-group" id="formName">
                <span class="input-group-addon" id="basic-addon1">Form Name</span>
                <input type="text" class="form-control" data-bind="value: FormName">
            </div>
            <div id="Form" data-bind="foreach: FormFields">
            <!-- ko if: Type() === 'header' -->
            
            <div class="fieldOptions" data-bind="visible: $root.toggleFieldOptions">
                <div class="removeButton" data-bind="click: $root.RemoveField"><span class="glyphicon glyphicon-remove"></span></div>
                    <label>Header: </label><input class="form-control" type="text" data-bind="value: Value" />                 
            </div>
            <h3 data-bind="text: Value"></h3>
            <hr />
            <div class="fieldBreak" data-bind="visible: $root.toggleFieldOptions"></div>
            <!-- /ko -->

            <!-- ko if: Type() === 'text' -->
            
            <div class="fieldOptions" data-bind="visible: $root.toggleFieldOptions">
                <div class="removeButton" title="Remove Field from Form" data-bind="click: $root.RemoveField"><span class="glyphicon glyphicon-remove"></span></div>
                <div class="form-group"><label>Label for Field: </label><input class="form-control" type="text" data-bind="value: Label" /></div>
                    <div class="checkbox"><label><input type="checkbox" data-bind="checked: IsRequired" />Field Is Required</label></div>
            </div>

            <div class="form-group">
                <label class="control-label" data-bind="text: Label"></label><input class="form-control" type="text"/>
            </div>
            <div class="fieldBreak" data-bind="visible: $root.toggleFieldOptions"></div>
            <!-- /ko -->

            <!-- ko if: Type() === 'checkbox'-->
            
            <div class="fieldOptions" data-bind="visible: $root.toggleFieldOptions">
                <div class="removeButton" title="Remove Field from Form" data-bind="click: $root.RemoveField"><span class="glyphicon glyphicon-remove"></span></div>
                <div class="form-group"><label>Label for Field: </label><input class="form-control" type="text" data-bind="value: Label" /></div>
                <div class="checkbox"><label><input type="checkbox" data-bind="checked: IsRequired" />Field Is Required</label></div>
            </div>
            <div class="checkbox-inline"><input type="checkbox" /><label data-bind="text: Label"></label></div>
            <div class="fieldBreak" data-bind="visible: $root.toggleFieldOptions"></div>
            <!-- /ko -->

            <!-- ko if: Type() === 'datepicker'-->
            <div class="fieldOptions" data-bind="visible: $root.toggleFieldOptions">
                <div class="removeButton" title="Remove Field from Form" data-bind="click: $root.RemoveField"><span class="glyphicon glyphicon-remove"></span></div>
                <div class="form-group"><label>Label for Field: </label><input class="form-control" type="text" data-bind="value: Label" /></div>
                <div class="checkbox"><label><input type="checkbox" data-bind="checked: IsRequired" />Field Is Required</label></div>
            </div>

            <div class="form-group">
                <label class="control-label" data-bind="text: Label"></label><input class="datepicker form-control" type="text"/>
            </div>
            <div class="fieldBreak" data-bind="visible: $root.toggleFieldOptions"></div>
            <!-- /ko -->

            <!-- ko if: Type() === 'radio'-->
            <div class="fieldOptions" data-bind="visible: $root.toggleFieldOptions">
                <div class="removeButton" title="Remove Field from Form" data-bind="click: $root.RemoveField"><span class="glyphicon glyphicon-remove"></span></div>
                <div class="form-group"><label>Label for Field: </label><input class="form-control" type="text" data-bind="value: Label" /></div>
                <div class="checkbox"><label><input type="checkbox" data-bind="checked: IsRequired" />Field Is Required</label></div>
                <div class="form-group"><label>Add Radio Option: </label><input class="form-control" type="text" data-bind="value: $root.optionVal" /></div>
                <a data-bind="click: AddOption.bind($data, $root.optionVal())" class="formButton"><span class="glyphicon glyphicon-plus"></span> Add Option</a>
            </div>
                <div data-bind="foreach: RadioList">
                    <div class="radio">
                        <div class="removeButton" title="Remove option" data-bind="click: $parent.RemoveOption"><span class="glyphicon glyphicon-remove" data-bind="visible: $root.toggleFieldOptions"></span></div>
                        <input data-bind="attr: {name: $parent.Name}, value: Value" type="radio" /><label data-bind="text: Value"></label>
                    </div>
            </div>
            <div class="fieldBreak" data-bind="visible: $root.toggleFieldOptions"></div>
            <!-- /ko -->

            <!-- ko if: Type() === 'dropdown'-->
            <div class="fieldOptions" data-bind="visible: $root.toggleFieldOptions">
                <div class="removeButton" title="Remove Field from Form" data-bind="click: $root.RemoveField"><span class="glyphicon glyphicon-remove"></span></div>
                <div class="form-group"><label>Label for Field: </label><input class="form-control" type="text" data-bind="value: Label" /></div>
                <div class="checkbox"><label><input type="checkbox" data-bind="checked: IsRequired" />Field Is Required</label></div>
                <div class="form-group"><label>Add Dropdown Option: </label><input class="form-control" type="text" data-bind="value: $root.optionVal"/></div>
                <a data-bind="click: AddOption.bind($data, $root.optionVal())" class="formButton"><span class="glyphicon glyphicon-plus"></span> Add Option</a>
            </div>

            <div class="form-group">
                <label data-bind="text: Label"></label>
                <select class="form-control" data-bind="foreach: Values">
                    <option data-bind="text: $data, value: $data"></option>
                </select>
                </div>
            <div class="fieldBreak" data-bind="visible: $root.toggleFieldOptions"></div>
            <!-- /ko -->

            <!-- ko if: Type() === 'timepicker' -->
            <div class="fieldOptions" data-bind="visible: $root.toggleFieldOptions">
                <div class="removeButton" title="Remove Field from Form" data-bind="click: $root.RemoveField"><span class="glyphicon glyphicon-remove"></span></div>
                <div class="form-group"><label>Label for Field: </label><input class="form-control" type="text" data-bind="value: Label" /></div>
                <div class="checkbox"><label><input type="checkbox" data-bind="checked: IsRequired" />Field Is Required</label></div>
            </div>

            <div class="form-group">
                <label class="control-label" data-bind="text: Label"></label><input class="timepicker form-control" type="text" />
            </div>
            <div class="fieldBreak" data-bind="visible: $root.toggleFieldOptions"></div>
            <!-- /ko -->

            </div>
            </div>
        
        </div>
        
        <div class="row">
            <label for="workflowToggle">
                <input type="checkbox" data-bind="checked: HasWorkFlow" />Attach workflow?
            </label>
            <div data-bind="visible: HasWorkFlow">
                <table>
                    <thead>
                        <tr>
                            <th>Member Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: WorkFlowMembers">
                        <tr>
                            <td>
                                <input data-bind="value: memberEmail" />
                            </td>
                            <td>
                                <a href="#" data-bind="click: $root.removeMember">Remove</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button data-bind="click: addMember">Add another member to workflow</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-xs-12 formOptions">
                </div>
                <a class="button-main createButton" href="#" data-bind="click: SubmitForm"><span class="glyphicon glyphicon-plus"></span> Create Form</a>
        </div>


