@using Microsoft.AspNet.Identity
@model Team1_DynamicForms.Models.WorkflowsToApproveViewModel
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello @User.Identity.GetUserName()</h2>
<hr />

    <div class="row">

        <div class="col-md-3 col-xs-12">
            <h3>
                Admin Actions
            </h3>
            <hr/>
            <ul class="sectionOptions">
                <a href="/Admin/CreateForm">
                    <li>
                        New Form
                    </li>
                </a>  
                <a href="/Admin/CreateForm">
                    <li>
                        New Workflow
                    </li>
                </a>        
            </ul>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-3 col-xs-12">
            <h3>
                Pending Approval
            </h3>
            <hr />
            <ul class="sectionOptions">
                @for (int i = 0; i < Model.formsToApprove.Count; i++)
                {
                    <a href="/admin/approve/@Model.formsToApprove[i].Id">
                        <li>
                            @Model.nameOfFilledForm[0] submitted by user @Model.usersWhoFilledForm[0]
                        </li>
                    </a>
                }
            </ul>
        </div>

    </div>

