@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <a class="button-main" href="/Admin/Index">Temp Admin Link <span class="glyphicon glyphicon-menu-right"></span></a>
    <a class="button-main" href="/User">Temp User Link <span class="glyphicon glyphicon-menu-right"></span></a>
    <a class="button-main" href="/SuperAdmin/Index">Temp SuperAdmin Link <span class="glyphicon glyphicon-menu-right"></span></a>
    </div>

