@model Team1_DynamicForms.Models.WorkFlowCreatePartialViewModel
@using HtmlHelpers.BeginCollectionItem;

<div class="editorRow">
@using (Html.BeginCollectionItem("MemberEmails"))
{
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)
    @Html.ValidationMessageFor(m => m.Email);
    <a href="#" class="button-main">Delete</a>
}
</div>
