@model Team1_DynamicForms.Models.WorkFlowOverviewViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

Forms Attached By Workflow to current user
<table class="table">
    @foreach(var item in Model.Workflows)
    {
        <tr>
        @foreach(string name in item.FormNames)
        {
                <td>
                    @name
                </td>
        }
        </tr>
    }    
</table>

<div class="row">
    <div class="col-md-3">
        <a class="button-main" href="/WorkFlow/Create"><span class="glyphicon glyphicon-plus"></span> New WorkFlow</a>
    </div>
</div>