@model Team1_DynamicForms.Models.WorkFlowOverviewViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Workflow Membership</h2>
<hr/>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Forms Attached to</div>
            <div class="panel-body">

                <table class="table">
                    @foreach (var item in Model.Workflows)
                    {
                        <tr>
                            @foreach (string name in item.FormNames)
                            {
                                <td>
                                    @name
                                </td>
                            }
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <a class="button-main" href="/WorkFlow/CreateIndex"><span class="glyphicon glyphicon-plus"></span> New WorkFlow</a>
        </div>
    </div>
